* {
    background-color: rgb(255, 205, 80);
    color: black;
    font-family: "Courier New", "Lucida Console", monospace;
    margin: 0;
}

.header .main-header {
    padding-left: 10%;
}

.content {
    margin: 8px 10%;
}

.main-header {
    font-size: 50px;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.dish-name {
    text-align: left;
}

.main-header,
.secondary-header,
.third-header {
    text-align: left;
    background-color: rgb(235, 185, 60);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.3em;
}

.secondary-header {
    font-size: 40px;
}

.third-header {
    font-size: 30px;
}

.text {
    font-size: 14px;
}

.ordered-list {
    line-height: 1.5;
}

.menu-items {
    display: flex;
    text-align: center;
    gap: 30px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline-start: 0px;
}

.menu-items li {
    background-color: black;
    flex: 1;
    list-style-type: none;
}

.menu-items li a {
    font-size: 25px;
    background-color: black;
    font-weight: bold;
    text-decoration: none;
    color: white;
}